<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Morador</title>
</head>
<body>

<form method="post" action="/condominio/salvar">
    <label for="cpf">CPF:</label><input type="text" name="cpf" id="cpf" size="50" /><br>
    <label for="nome">Nome:</label><input type="text" name="nome" id="nome" size="50" /><br>
    <label for="numeroApt">NumeroApt:</label><input type="text" name="numeroApt" id="numeroApt" size="50" /><br>
    <label for="bloco">Bloco:</label><input type="text" name="bloco" id="bloco" size="50" /><br>
    <input type="submit">
</form>

<div th:unless = "${#lists.isEmpty(morador)}">
    <dl th:each="moradores:${morador}">
        <span th:text="${moradores.cpf}"></span><br>
        <span th:text="${moradores.nome}"></span><br>
        <span th:text="${moradores.numeroApt}"></span><br>
        <span th:text="${moradores.bloco}"></span><br>
    </dl>
</div>
<div th:if="${#lists.isEmpty(morador)}">

    <p>Não tem nenhum Morador !</p>

</div>
</body>
</html>